/*.list {
      font-family: 'Roboto';}*/

body {

width: 1600px;
margin: 0 auto;
background-color: #FFFFFF;
}

      .header .logo {
    color: #2196F3;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}
.header .logo-part {
color: #212121;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}
.header-list {
    font-family: 'Roboto';
    color: #212121;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.logo .list-item-five {
    color: #757575;
}
.main-section {
    background-color: #2F303A;
}

.title {

    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
}
.main-btn {


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3


}
